# Visual Studio Code configuration
.vscode

# Competitive Programming Helper Extension (.cph) file
*.cph

# Code Testing
*test.py
*test.cpp
*.exe

# Python Library Cache
*__pycache__
*.ruff_cache
*.mypy_cache

# LaTeX
*_minted
*.tex.bak
*.listing
*.aux
*.log
*.out
*.synctex.gz
*.tex.bak
*.toc
